<ion-header>
  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="content-login-page">
		<h3>Suscribete para mayores beneficios</h3>
		<form [formGroup]="formRegister" (ngSubmit)="saveData()">
			<ion-item>
				<ion-icon name="mail" item-start></ion-icon>
				<ion-label stacked>Correo electronico:</ion-label>
				<ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="person" item-start></ion-icon>
				<ion-label stacked>Nombre:</ion-label>
				<ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<ion-label stacked>Edad:</ion-label>
				<ion-input formControlName="age" type="number" placeholder="Edad"></ion-input>
			</ion-item>
			<div padding>
				<button [disabled]="!this.formRegister.valid" ion-button >Enviar</button>
			</div>
		</form>
	</div>
</ion-content>
