<ion-tabs>
  <ion-tab tabBadgeStyle="#7D00EC" [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Favoritos" tabIcon="heart"></ion-tab>
  <!--<ion-tab [root]="tab3Root" tabTitle="Cercanos" tabIcon="locate"></ion-tab>-->
</ion-tabs>
