page-favorite {
	.img-logo{
		background: transparent;
	}

	.card-background-page {
		ion-card {
		    position: relative;
		    text-align: center;
		    max-height: 250px;
		    img{
		    	min-width: 100%;
		    }
		}

		.degradate-black{
			position: absolute;
			top: 0%;
			height: 100%;
			width: 100%;
			background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.55)), color-stop(100%, rgba(18,18,18,1)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%, rgba(18,18,18,1) 100%);
		}

		.card-title {
		    position: absolute;
		    top: 22%;
		    font-size: 2.0em;
		    width: 100%;
		    font-weight: bold;
		    color: #fff;
		}

		.card-subtitle {
		    font-size: 1.0em;
		    position: absolute;
		    top: 70%;
		    width: 100%;
		    color: #fff;
		}
	}
}
