<ion-header>
  <ion-navbar>
    <ion-title>
      Goya
    </ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content
  text-center
  class="card-background-page"
  >
  <ion-img *ngIf="loading"
      height="200"
      width="200"
      class="img-logo"
      src="../../assets/imgs/logo.png"
    ></ion-img>
  <ion-content *ngIf="this.CardProvider.type === 0" >
    <ion-card *ngFor="let post of this.postProv.posts" (click)="onClickCard(post)" >
      <img 
        src="{{this.API.GetURLImage()}}/{{post.fileImg}}"
        />
      <div class="degradate-black" ></div>
      <div class="card-title">{{post.namePost}}</div>
      <div class="card-subtitle">{{post.nameUser}}</div>
    </ion-card>
  </ion-content>

  <ion-content *ngIf="this.CardProvider.type === 1" >
    <div class="list-cards-double" >
        <ion-card *ngFor="let post of this.postProv.posts" (click)="onClickCard(post)" >
          <div class="content-img-card-double" >
            <img src="{{this.API.GetURLImage()}}/{{post.fileImg}}" />
          </div>
          <ion-card-content>
            <div class="title-card-double" >
              {{post.namePost}}
            </div>
            <div class="sub-title-card-double" >{{post.nameUser}}</div>
          </ion-card-content>
        </ion-card>

    </div>
  </ion-content>

  <ion-fab bottom right >
    <button class="fab-buttom-eye" ion-fab>
      <ion-icon name="eye"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button (click)="setType(0)" class="buttom-fab-grid" ion-fab>
        <ion-icon name="albums"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button (click)="setType(1)" class="buttom-fab-grid" ion-fab>
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
