<ion-menu type="overlay" [content]="myRootAPp">
  <ion-content padding id="menuContentCategory" >
    <ion-list *ngIf="this.CategoriesProv" >
    	<ion-item (click)="onClickCategory(0)" >
    		Todas
    	</ion-item>
    	<ion-item
            *ngFor=" let cat of this.CategoriesProv.categories "
            (click)="onClickCategory(cat.id)"
        >
    		{{cat.name}}
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #myRootAPp [root]="rootPage"></ion-nav>
