page-view-post {
	.img-post{
		height: auto;
		width: 100%;
	}

	.title-post{
		font-size: 2.0em;
	    width: 100%;
	    font-weight: bold;
	    color: black;
	}

	ngx-qrcode div img{
		height: 260px;
		width: 260px;
	}
}
