<ion-header>

  <ion-navbar>
    <ion-title>Goya</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>
	<img
		src="{{this.API.GetURLImage()}}/{{this.post.fileImg}}"
		class="img-post"
	/>
	<div class="title-post" >{{this.post.namePost}}</div> 
	<p>
		{{this.post.excerpt}}
	</p>
	<h3 (click)="goLink(this.post.link)" >
		{{this.post.link}}
		<ngx-qrcode [qrc-value]="this.post.link"></ngx-qrcode>
	</h3>

	<button (click)="howToGo()" ion-button round>Como llegar</button>
	<button (click)="setFavorite()" ion-button icon-only >
	  <ion-icon name="star"></ion-icon>
	</button>
</ion-content>
